
html {
background: url("images/bgcomingsoon.png") no-repeat scroll center top;
}
a {
       outline-style: none;
}

#head {
    display: block;
    margin: 0 auto;
    position: absolute;
    right: 14%;
    width: 50%;
	height:300px;
	text-align:center;
}
#server h1{
	font-size:70px;
	font-family: sans-serif;
	font-weight: normal;
}
#date {
	margin-top: -55px;
}
#date h1{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 48px;
}

#time {
	color:red;
	width:344px;
	margin:0 auto;
	font-size: 40px;
}

#ngay {
    background: url("images/time.png") no-repeat scroll -10px 0 rgba(0, 0, 0, 0);
    padding: 26px 18px 50px 24px;
	float: left;
    height: 35px;
    padding: 26px 18px 50px 24px;
    width: 46px;
}
#gio {
    background: url("images/time.png") no-repeat scroll -96px 0 rgba(0, 0, 0, 0);
    padding: 26px 18px 50px 24px;
	float: left;
    height: 35px;
    padding: 26px 18px 50px 24px;
    width: 43px;
}
#phut {
    background: url("images/time.png") no-repeat scroll -182px 0 rgba(0, 0, 0, 0);
    padding: 26px 18px 50px 24px;
	float: left;
    height: 35px;
    padding: 26px 18px 50px 24px;
    width: 41px;
}
#giay {
    background: url("images/time.png") no-repeat scroll -266px 0 rgba(0, 0, 0, 0);
    padding: 26px 18px 50px 24px;
	float: left;
    height: 35px;
    padding: 26px 18px 50px 24px;
    width: 41px;
}
#top{
	height:300px;
}

#right{
	float: left;
    width: 44%;
}

#space{
	width:120px;
	height:200px;
	float:left;
}
#fanpage {
    margin-top: 28px;
}
#trangchu {
    margin-top: 2px;
}
#button #trangchu:hover{
	background:url(images/button-hover.png)no-repeat scroll 4px 2px  rgba(0, 0, 0, 0);
}
#button #fanpage:hover{
	background:url(images/button-hover.png)no-repeat scroll 4px -86px  rgba(0, 0, 0, 0);
}
#button #trangchu{
	background:url(images/button.png)no-repeat scroll 0px 0px  rgba(0, 0, 0, 0);
}
#button #fanpage{
	background:url(images/button.png)no-repeat scroll 0px -88px  rgba(0, 0, 0, 0);
}
#tintuc{
	background:url("images/bgtintuc.png") no-repeat;
	height:320px;
}
ul.ListNews {
    left: 0;
    overflow: hidden;
    padding: 50px 0 0 30px;
    text-align: justify;
    top: 0;
    width: 545px;
}
ul.ListNews .First {
    min-height: 100px;
}
ul.ListNews li {
    list-style: none outside none;
}
ul.ListNews {
    text-align: justify;
}
.imgNew {
    display: block;
    float: left;
    height: 98px;
    margin: 0 10px 0 0;
    position: relative;
    width: 133px;
}
.subNew {
    color: black;
    width: 525px;
}


.title {
    display: block;
    font-weight: bold;
}
.ListNews li a{
	text-decoration: none;
	color:red;
}

.ListNews li a:hover{
	color:green;
}

ul.ListNews li.public a {
    background: url("images/li.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    color: red;
    display: block;
    padding-left: 20px;
}
ul.ListNews li.public a:hover {
    background: url("images/li.png") no-repeat scroll 0 -20px rgba(0, 0, 0, 0);
    color: green;
}

ul.ListNews li.public {
    margin: 8px 0;
}

#cat {
    left: 550px;
    position: absolute;
    top: 337px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}
#cat a{
	color: yellow;
	text-decoration:none;
}
#button a{
    display: inline-block;
    height: 61px;
    text-indent: -9999px;
    width: 212px;
}
#button{
    height: 185px;
    width: 430px;
    margin: 10% auto 0;
}