body {
    font: 13px/20px Tahoma,Arial,Verdana,sans-serif;
    margin: 0;
    padding: 0;	
	width: 100%;
	height: 100%;
	background-color: #000000;/*url(images/bgBody.jpg) repeat 0px 0px;*/
}
a {
    outline:none;
}
#head .nav  ul  li * {
    white-space: nowrap;
}
p{
	margin: 0;padding:0;
}
ul{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a img{
	outline: none;
	border: none;
}
#wrapper{
	background: url(images/bgHome1.jpg) no-repeat center top/*, url(images/bgHome2.jpg) no-repeat center bottom*/;
	width: 100%;
	height: 100%;
}
#outer{
	width: 955px;
	margin: 0 auto;
	position: relative;
}
#header{
	padding: 0px 70px 200px 0px;
	text-align: right;
	position: relative;
}
.verthanh{
	border: medium none;
    left: 373px;
    outline: medium none;
    position: absolute;
    top: 9px;
}
.verthanh img{
	outline: none;
	border: none;
    width:420px;
}
#container{
	background: #0b0603;
	min-height: 500px;
}
.event center{
  text-algin:left;
}
.playgame{
	position: absolute;
	right: -90px;
	top: -133px;
}
.playgame a{
	display: inline-block;
	width: 224px;
	height: 124px;
	position: absolute;
	top: 90px;
	right: 98px;
	text-indent: -9999px;
}
#content{
	margin-top: 10px;
	background: #250604 url(images/bgFooter.png) no-repeat center bottom;
	padding-bottom: 60px;
}
.contentLeft{
	width: 577px;
	display: inline-block;
}



.subFeature{
	background: url(images/bgFeature.png) no-repeat 0px 0px;
	height: 258px;
}
.boxFeautre{
	padding-left: 7px;
	position: relative;
}
.listFeature{
	width: 280px;
	padding: 90px 0px 0px 140px;
}
.listFeature a{
	background: url(images/liFeature.png) no-repeat left center;
	color:#250604;
	padding-left: 10px;
	font-weight: bold;
	font-size: 11px;
	line-height: 18px;
	width: 120px;
	display: inline-block;
	overflow: hidden;
}
.linkTop{
	position: absolute;
	bottom: 18px;
	right: 53px;
}
.linkTop a{
	width: 100px;
	height: 115px;
	display: block;
	text-indent: -9999px;
	background: url(images/bgCaoThu.png) no-repeat -3px 3px;
}
.linkTop a:hover{
	background: url(images/bgCaoThu.png) no-repeat -3px -117px;
}

.contentRight{
	width: 369px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.inputRegister{
	background: url(images/bgRegister.png) no-repeat 0px 0px;
	width: 416px;
	height: 185px;	
}
.inputRegister a{
	width: 118px;
	height: 79px;
	display: inline-block;
	text-indent: -9999px;
}
.inputRegister .register:hover{
	background: url(images/bgRegisterHover.png) no-repeat 23px 25px;
}	
.inputRegister .payment{
	width: 105px;
}
.inputRegister .payment:hover{
	background: url(images/bgRegisterHover.png) no-repeat -99px 25px;
}
.inputRegister .download:hover{
	background: url(images/bgRegisterHover.png) no-repeat -208px 25px;
}
.imgLogin{
	margin-top: -100px;
	text-align: center;
}
.imgLogin img{
	outline: none;
	border: none;
}
.formRe{
	padding-left: 30px;
}
.formRe input{
	border:2px solid #000000;
	background: #8d7372;
	padding:10px 0px 10px 5px;
	display: block;
	width: 300px;
	color:#260606;
	font-style: italic;
	margin-bottom: 10px;
	outline: none;
	box-shadow:0px 0px 25px -5px #c87572 inset;
}
.inputLogin a{
	background: url(images/bgLogin.png) no-repeat 0px 0px;
	width: 140px;
	height: 44px;
	display: block;
	outline: none;
	text-indent: -9999px;
}
.inputLogin a:hover{
	background: url(images/bgLogin.png) no-repeat 0px -45px;
}
.inputLogin{
	display: inline-block;
	vertical-align: top;
}
.login{
	padding-left: 30px;
}
.textNote{
	display: inline-block;
}
.textNote a{
	display: block;
	font-style: italic;
	color:#8d7372;
}
.textNote a:hover{
	text-decoration: underline;
}
#hoauthWidgetyw0{
	display: block;
	height: 35px;
	margin: 20px 0px 25px 110px;
}
.zocial.google:before {
content: "G";
}
.zocial.facebook:before {
content: "f";
}
.zocial.facebook {
background-color: #4863ae;
}
.zocial.twitter {
background-color: #46c0fb;
}
.zocial.g4g {
background-color: #ffa43b;
}
.zocial.twitter:before {
content: "T";
}
.zocial.g4g:before {
color: white;
content: "G";
font-family: Arial;
font-weight: bolder;
}
.zocial.google {
	background-color: #dd4b39;
}
#hoauthWidgetyw0 a {
	color: #870000;
	text-decoration: none;
	display: block;
	padding: 5px 0 0;
	float: left;
}
.captcha{
	margin-top: 10px;
}
/* Gradients */

.zocial {
    background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
    background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
    background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
}

.zocial:hover, .zocial:focus {
    background-image: -moz-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
    background-image: -ms-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
    background-image: -o-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), color-stop(49%, rgba(255,255,255,.15)), color-stop(51%, rgba(0,0,0,.1)), to(rgba(0,0,0,.15)));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
    background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
}

.zocial:active {
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, transparent), to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
    background-image: linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
}
.zocial:before {
    content: "";
    float: left;
    font: 120%/1.65 zocial;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 0 0.5em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    color:white;
    width:15px;
}

.zocial:active {
    outline: none; /* outline is visible on :focus */
}

/* Buttons can be displayed as standalone icons by adding a class of "icon" */

.zocial.icon {
    overflow: hidden;
    max-width: 2.4em;
    padding-left: 0;
    padding-right: 0;
    max-height: 2.15em;
    white-space: nowrap;
}
.zocial.icon:before {
    padding: 0;
    width: 2em;
    height: 2em;
    
    box-shadow: none;
    border: none;
}
.support{
	position: fixed;
	top:50px;
	right:0px;
	z-index: 20;
}
.subSupport{
	background: url(images/bgSupport.png) no-repeat 0px 0px;
	width: 90px;
	height: 464px;
	display: block;
	text-indent: -9999px;
	position: relative;
}
.support a.share{
	position: absolute;
	top: 11px;
	left: 8px;
	width: 46px;
	height: 90px;
}
.support a.linkSupport{
	position: absolute;
	top: 106px;
	left: 9px;
	width: 46px;
	height: 90px;
}
.support a.top{
	position: absolute;
	top: 217px;
	left: -5px;
	width: 102px;
	height: 90px;
}
.support a.top:hover{
	background: url(images/bgSupport.png) no-repeat -102px -217px;
	height: 180px;
	width: 120px;
}
#footer{
	text-align: center;
	color:#e2dedd;
	font-family:Tahoma;
	padding: 30px 0;
}
.popupRegister{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -190px 0 0 -240px;
	z-index: 100;
	display: none;
}
.boxPopupRegister{
	position: fixed;
	background:url(images/bgpopup.png) repeat 0px 0px;
	width: 479px;
	min-height: 380px;
	padding-bottom: 10px;
	border:1px solid #0a0a0a;
	z-index: 15;
}
.disableClick {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.7;
}
.imgTitle{
	margin-bottom: 10px;
	position: relative;
}
.formPopup{
	margin-top: 10px;
}
#popup{
	text-align:center;
}
.panel{
	margin-top: 10px;
}
.panel input{
	width: 265px;
	height:40px;
	display: inline-block;
	font-size: 14px;
	color: #808080;
	border: 1px solid #a6abab;
	padding-left:50px;
}
.close{
	position: absolute;
	top: -35px;
	right: -65px;
	cursor: pointer;
}
.panel input.nickname{
	background:#FFF url(images/nickname.png) no-repeat 15px center;                                                          
}
.panel input.email{
	background:#FFF url(images/email.png) no-repeat 15px center;                                                          
}
.panel input.password{
	background:#FFF url(images/password.png) no-repeat 15px center;                                                          
}
.panel .text_email{
	width: 100px;
	height: 18px;
	display: inline-block;
	color: #666666;
	padding: 6px 15px 0px 20px;
}
#yw2_button{
	background: url(images/refresh.png) no-repeat 0px 0px;
	display: inline-block;
	width: 26px;
	height: 26px;
	text-indent: -9999px;
	vertical-align: top;
	margin-top: 10px;
}
.panel input.inputCapcha{
	vertical-align: top;
	width: 152px;
	height: 46px;
	padding-left: 10px;
}
.notice{
	color:#6e6666;
	margin:10px 0;
	font-weight: bold;
}
.submitRegister input{
	background: url(images/dangky.png) no-repeat 0px 0px;
	width: 170px;
	height: 49px;
	border: none;
	cursor: pointer;
	text-indent: -9999px;
}
.errorSummary ul{
	background: #f6f6f6;
	border:1px solid #F00;
	margin-left:80px;
	color:#F00;
	width: 316px;
	padding: 5px 0;
}
.errorSummary ul li{
	margin-left: 30px;
}
.topNews{
	background:url(images/bgNews.png) no-repeat 0px 0px;
	width:955px;
	height:80px;
	position:relative;
	padding-bottom:10px;
        margin:auto;
}
.namePage{
	text-transform: uppercase;
	color:#f3b509;
	font-weight:bold;
	font-size:20px;
	display:inline-block;
	margin-left:95px;
	line-height:68px;
}
.newsTop{
	background:url(images/topNews.png) no-repeat 0px 0px;
	height:36px;
	width:955px;
        margin:auto;
}
.newsCenter{
/*	margin-left:9px;*/
}
.subCenter{
	background:url(images/bgCen.png) repeat 0px 0px;
	width:938px;
/*	height:400px;*/
        margin:auto;
}
.subCenterafter{
	background:url(images/bgCen.png) repeat 0px 0px;
        margin:auto;
}
.subCenterbefore {
    margin: auto;
}
.newsBottom{
	background:url(images/newsBottom.png) no-repeat 0px 0px;
	margin-left:9px;
	height:123px;
        width:938px;
        margin:auto;
}
.imgCate {
	display:block;
	float:left;
	margin-right:10px;
}
.imgCate a {
	outline:none;
	display:inline-block;
}
.category{
}
.category .line{
	border-top:1px solid #651e10;
}
.time{
	text-align:right;
	color:#651e10;
}
.imgCate a img{
	width:182px;
	height:108px;
	border:1px solid #560c04;
}
.contentCate{
	text-align:justify;
	min-height:110px;
}
.boxCate{
	padding:15px 0;
}
.contentCate .titleNews{
	color:#651e10;
	font-weight:bold;
	font-size:16px;
	display:block;
	margin-bottom:10px;
}
.titleNewsDetail{
	color:#651e10;
	font-weight:bold;
	font-size:16px;
	display:block;
	margin-bottom:20px;
}
.isRegist{
	position:absolute;
	right:-49px;
	top:0px;
}
#newsPage{
	text-align:right;	
}
.subPage{
	background:#FFF;
	padding:10px;
	float:right;
	margin-right: 80px;
	margin-top: 40px;
}
#newsPage li{
	display:inline-block;
}

#newsPage li a{
	/*background:#1f1f1f;*/
	color:#FFF;
	padding:3px 9px;
	/*opacity:0.6;*/
}
#newsPage li a:hover, #newsPage li a.active{
	opacity:1;
}

#newsPage .prevPage, #newsPage .nextPage{
	background:#F00;
}
.plink{
	font-weight: bold;
	margin-bottom: 20px;
}
.network{
	border-bottom: 1px dashed #c0b6b4;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.network li{
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}
.network li img{
	display: inline-block;
	outline: none;
}
.boxNapthe{
	width: 100%;
	/*border-bottom: 1px dashed #c0b6b4;*/
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.boxNapthe .errorSummary ul{
	margin-left: 0px;
}
#formNap {
	float:left;
	width: 505px;
}
#formNap .wrap-form .lable{
	font-size: 13px;
	margin-top: 0px;
	height: 30px;
	line-height: 30px;
	width:170px;
	display:inline-block;
}
.wrap-form .input {
	width: 250px;
	display:inline-block;
}
.mt15{
	margin-top:15px;
}
#formNap .wrap-form .mt15{
	text-align: left;
}
#formNap .wrap-form .input .account{
	color:#F00;
	height: 30px;
	line-height: 30px;
}
#formNap .btn{
	width: 90px;
	display: block;
	cursor: pointer;
	border: 0;
	background: #900;
	color: #FFF;
	font-size: 14px;
	border: 1px solid #080202;
	padding:5px 0;
}
#formNap select{
	width: 120px;
	height: 30px;
	line-height: 30px;
}
.wrap-form .input input {
	width: 238px;
	height: 28px;
	padding: 0 5px;
	border: 1px solid #D3D3D3;
	background: #fff;
	vertical-align: middle;
	font-weight: bold;
}
.imgCard{
	float:right;
}
.noteDown{
	color:#F00;
	font-weight: bold;
	font-size:16px;
}
.versionDown{
	text-align: center;
}
.boxNapthe p{
	padding: 5px 0;
}
#formNap .wrap-form .input input{
	width: 310px;
}
.menhgia{
	/*float:left;*/
}
.menhgia p{
	color:#F00;
}
.menhgia p.tyle{
	font-weight: bold;
	color:#000;
}
.tyle span{
	color:#F00;
}
.pagePayment .category{
	padding:10px 11px;
}
.pagePayment .subCenter{
	margin-top:-13px;
        margin:auto;
}
.statusServer{
    color:#FFF;
    text-align: center;
    margin:0px 10px 20px 0px;
}
.statusServer div{
    display: inline-block;
    margin-right: 10px;
}
.statusServer div span{
    display: inline-block;
    float: left;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
    width: 10px;
}
.statusServer .good span{    
    background: #022501;    
}
.statusServer .near span{
    background: #ffbe00;
}
.statusServer .full span{
    background: #7e0300;
}
.statusServer .maintain span{
    background: #454545;
}
.boxServer{
    margin: 10px 0px 0px 2px;
}
#listServer {
    background: url(images/boxServer.png) no-repeat -12px 0px;
    height: 350px;
    padding: 65px 0px 0px 23px;
}
ul.ListServer {
    margin: 10px 0 0 0;
    overflow: hidden;
}
ul.ListServer.Active {
    display: block;
}
ul.ListServer li {
    float: left;
    padding: 0;
    margin:0 25px 15px 0;
    width: 135px;
    height: 25px;
    list-style: none;
    line-height: 18px;
    position: relative;
}
.ListServer  li a{
    background: url(images/bgServer.png) no-repeat -4px 0px;
    width: 153px;
    height: 40px;
    display: inline-block;
    text-align: left;
    line-height: 37px;
    color:#fce6c8;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    padding-left:10px;
}
.ListServer  li a:hover{
    background: url(images/bgServer.png) no-repeat -4px -46px;
}
.ListServer  li a.newServer{
    background: url(images/bgServerNew.png) no-repeat -4px 0px;
}
.ListServer  li a.newServer:hover{
    background: url(images/bgServerNew.png) no-repeat -4px -46px;
}
.ListServer  li a.goodServer{
    background: url(images/bgGoodServer.png) no-repeat -4px 0px;
}
.ListServer  li a.goodServer:hover{
    background: url(images/bgGoodServer.png) no-repeat -4px -46px;
}
.ListServer  li a.nearServer{
    background: url(images/bgNearServer.png) no-repeat -4px 0px;
}
.ListServer  li a.nearServer:hover{
    background: url(images/bgNearServer.png) no-repeat -4px -46px;
}
.ListServer  li a.mainTainServer{
    background: url(images/bgMainTainServer.png) no-repeat -4px 0px;
}

/*=== end slider server ===*/
._4s7c{
	border:none !important;
}
/*=== start slider img ===*/
#boxSliderImg{
	padding-left: 6px;
	display: inline-block;
	background: #000;
	width: 569px;
	padding-bottom: 10px;
}
ul#img{
	display: inline-block;	
}
.slide-image {
    left: 0;
    position: absolute;
    top: 0;
    opacity:0;
	border: 2px solid #782319;
}
.slide-image a img{
	width: 564px;
	height: 247px;
}
.slide-image a {
	float:left;
}
.slide-container{
	display: inline-block;
	width: 564px;
	height: 247px;
	position: relative;
}
.slide-image:first-child{
	opacity:1;
}
.slide-pager {
	position: absolute;
	bottom: 10px;
	right:10px;
	z-index: 7;
}
.slide-pager-slot {
    background: #fcb00f;
    display: block;
    float: left;
    height: 13px;
    list-style: none outside none;
    margin: 0 5px 0 0;
    width: 13px;
    cursor:pointer;
	text-indent: -9999px;
	border: 1px solid #fff;
}
.slide-pager-slot:hover{
	background:#ea5906;
}
.slide-pager ul .focus{
	background:#ea5906;
}
#imgControl{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 7;
}
/*=== end slider img ===*/
.boxEvent{
	background: url(images/bgEvent.png) no-repeat 0px 0px;
	padding-top: 70px;
	padding-left: 10px;
	position: relative;
	min-height: 320px;
}

.contentNews{
	position: relative;
	margin-top: -148px;
	width: 574px;
	min-height: 250px;
	background: url(images/bgRepeat.jpg) repeat 0px 0px;	
}
.subNew{
	color:#FFF;
}
.imgNew{
	width: 128px;
	height: 93px;
	float: left;
	display: block;
	position: relative;
	border: 1px solid #000;
	margin: 0px 10px 0px 0px;
}
.title{
	display: block;
	color:#fad553;
	font-weight: bold;
}
.captcha a,#captcha_button {
	 background: url(images/refresh.png) no-repeat 0px 0px;
	display: inline-block;
	width: 26px;
	height: 31px;
	text-indent: -9999px;
	vertical-align: bottom;
}

#captcha_button {
	margin-bottom:4px;margin-left:5px
}





/*****************************/

.plink, .titleNewsDetail{
 color:#651e10;
 font-weight:bold;
 font-size:16px;
 display:block;
 margin-bottom:20px;
}

#newsPage li:hover, #newsPage li.active {
opacity: 1;
}

#newsPage li  {
    background: #1f1f1f;
    color: #FFF;
    padding: 3px 9px;
    opacity: 0.6;
}

#newsPage .first,#newsPage .last  {
    background: none repeat scroll 0 0 rgb(255, 0, 0);
    opacity:none;
    display: none;
}
.classbuttonFB {
    background: #008000;
    border: medium none;
    border-radius: 0;
    color: white;
    font-weight: bold;
    height: 30px;
    cursor:pointer;
}