.popupPayment .newsCenter {
    float: left;
    left: 50%;
    margin: -200px 0 0 -375px;
    min-height: 500px;
    padding: 10px;
    position: absolute;
    top: 40%;
    width: 670px;
    z-index: 9999;
}
.closePay {
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: -15px;
    top: -17px;
    width: 50px;
}
.titlePay {
    color: #f00;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
}
